<h2>All Professors</h2>

<% @professors.each do |professor| %>
  <section id="professor-<%= professor.id %>">
    Name: <%= link_to professor.name, "/professors/#{professor.id}" %>,
    Age: <%= professor.age %>,
    Specialty: <%= professor.specialty %>
  </section>
<% end %>
