<h2>Professor's Students</h2>
<section class="students_list">
  <% @professor.students.order(:name).each do |student| %>
    <%= student.name %><br>
  <% end %>
</section>
Average age: <%= @professor.average_student_age %>
